@model WebA1.Models.New_model.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h2>@Model.Name</h2>
    @{ var imgSrc = "/Content/images/stock" + @Model.Product_ID + ".jpg";}
    <img src="@imgSrc" alt="stock3" width="100" height="100" />
    <p>@Model.Description</p>
    <p>$@Model.Cost</p>
</div>






















